# IDEA settings file
.idea
homework1.iml

# Compiled files
target
build
.gradle
hw1.jar

# Developer's junk files
src/main/java/mockFileGenerators/
mockFiles/
questions.txt
src/main/java/main/Test.java
